<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-5 mx-auto"><!--celular, tablet, telas grandes-->
      <div class="card my-5 p-3">
        <div class="card-body ">
          <h1 class="card-title text-danger text-bg-light text-center">Sistema de Requisições</h1>

          <form class="col-md-8 mx-auto fs-5" [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group mt-5">
              <label for="email" class="form-label text-danger">Email:</label>
              <input
              formControlName="email"
              type="email"
              readonly
              class="form-control-plaintext border-danger"
              placeholder="Digite seu email...">
            </div>
            <div class="form-group mt-5">
              <label for="senha" class="form-label text-danger">Senha:</label>
              <input
              formControlName="password"
              type="password"
              class="form-control-plaintext border-danger"
              placeholder="Digite sua senha...">
            </div>
            <div class="d-grid mx-5 gap-2 mt-5">
              <button type="submit" class="btn btn-danger fs-5">
                <i class="pi pi-sign-in me-1"></i>Login
              </button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
