<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-5 mx-auto"><!--celular, tablet, telas grandes-->
      <div class="card my-5 p-3">
        <div class="card-body ">
          <h1 class="card-title text-danger text-bg-light text-center">Sistema de Requisições</h1>

          <form class="col-md-8 mx-auto fs-5" [formGroup]="form" (ngSubmit)="login()">

            <div class="form-group mt-5">
              <label for="email" class="form-label text-danger">Email:</label>
              <input
              formControlName="email"
              type="email"
              readonly
              class="form-control-plaintext border-danger"
              placeholder="Digite seu email...">
            </div>

            <div class="form-group mt-5">
              <label for="senha" class="form-label text-danger">Senha:</label>
              <input
              formControlName="password"
              type="password"
              class="form-control-plaintext border-danger"
              placeholder="Digite sua senha...">
            </div>

            <div class="mt-2 text-center">
              <a role="button" class="text-danger text-decoration-none" (click)="abrirModalRecuperacao(content)">Esqueci minha senha!</a>
            </div>

            <div class="d-grid mx-5 gap-2 mt-5">
              <button type="submit" class="btn btn-danger fs-5">
                <i class="pi pi-sign-in me-1"></i>Login
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form [formGroup]="formRecuperacao" (ngSubmit)="modal.close('enviar')">
    <div class="modal-header">
      <h4 class="modal-title text-danger" id="modal-basic-title">Recuperação de Conta</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
    </div>

    <div class="modal-body">
      <div class="alert alert-warnign" role="alert">
        Enviaremos um email para o endereço informado com instruções de recuperação!
      </div>

      <div class="form-group mb-3">

        <label for="emailRecuperacao" class="form-label">Endereço de email:</label>
        <input formControlName="emailRecuperacao"
          class="form-control"
          type="email"
          placeholder="Digiete o endereço de email">

          <!--<div class="invalid-tooltip" *ngIf="emailRecuperacao.invalid">
            <span *ngIf="emailRecuperacao.errors['required']">O email é obrigatório!</span>
            <span *ngIf="emailRecuperacao.errors['email']">O email precisa estar no formato válido</span>
          </div>-->

      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      <button type="submit" class="btn btn-danger col-md-3">Enviar</button>
    </div>
  </form>
</ng-template>
