<nav class="navbar navbar-expand-lg bg-light">

  <div class="container">
    <a class="navbar-brand fw-semibold" routerLink="/">Requisições
      <span class="badge bg-danger txt-bg-light">App</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="links fw-semibold">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-danger" aria-current="page" routerLink="/departamentos">Departamentos</a>
          </li>
        </ul>
      </div>

      <div class="d-sm-block ms-auto">
        <a role="button" class="btn btn-danger px-5">
          <i class="pi pi-sign-out"> Sair</i>
        </a>
      </div>

    </div>
  </div>
</nav>
