<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mt-5 mx-auto">

      <div class="text-center text-md-start">
        <h1 class="text-light fw-bold">Departamentos</h1>
      </div>

      <div class="d-grid gap-2 d-md-block mt-4">
        <button
        (click)="cadastrar(modal)"
        type="button"
        class="btn btn-light me-md-1 col-md-2 text-danger">
        <i class="pi pi-user-plus me-2"></i>
        Novo
        </button>

        <a
        type="button"
        class="btn btn-light me-md-1 col-md-2 text-danger"
        routerLink="/painel">
        Voltar
        </a>
      </div>
      <div class="mt-5">
        <table class="table table-light table-striped table-hover">
          <thead class="text-danger">
            <tr class="text-center">
              <th>Nome</th>
              <th>Telefone</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let departamento of (departamentos$ | async)">
              <td>{{departamento.nome}}</td>
              <td>{{departamento.telefone}}</td>
              <td class="d-grid d-md-block">
                <button
                (click)="cadastrar(modal, departamento)"
                type="button"
                class="btn btn-danger me-0 me-md-1 mb-md-auto"
                >
                <i class="pi pi-user-edit"></i>
                </button>
                <button
                (click)="remover(departamento)"
                type="button"
                class="btn btn-danger"
                >
                <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" class="text-danger">{{tituloModal}} de Departamento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Fechar')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close('cadastrar')">
    <div class="modal-body">

      <div class="form-group mb-3 position-relative">
        <label for="nome" class="form-label">Nome do departamento:</label>
        <input formControlName="nome"
        [ngClass]="(nome?.touched && nome?.invalid) ? 'is-invalid' : '' "
        class="form-control border-danger"
        type="text"
        placeholder="Digite o nome do seu departamento...">
        <div class="invalid-tooltip" *ngIf="nome?.touched && nome?.invalid">
          <span *ngIf="nome?.errors?.['required']">O nome deve ser preenchido.</span>
          <span *ngIf="nome?.errors?.['minlength']">O nome deve ter no mínimo 3 caracteres.</span>
        </div>
      </div>

      <div class="form-group mb-3 position-relative">
        <label for="telefone" class="form-label">Telefone do departamento:</label>
        <input formControlName="telefone"
        [ngClass]="(telefone?.touched && telefone?.invalid) ? 'is-invalid' : '' "
        class="form-control border-danger"
        type="text"
        placeholder="Digite o número de telefone do seu departamento...">
        <div class="invalid-tooltip" *ngIf="telefone?.touched && telefone?.invalid">
          <span *ngIf="telefone?.errors?.['required']">O telefone deve ser preenchido.</span>
          <span *ngIf="telefone?.errors?.['maxlength']">O telefone deve ter no máximo 15 caracteres.</span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
        <button type="submit" class="btn btn-danger col-md-3">Cadastrar</button>
      </div>

    </div>
  </form>
</ng-template>
