<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="text-center text-md-start">
        <h1 class="fw-bold text-light">Requisições para meu Departamento</h1>
      </div>

      <div class="d-grid gap-2 d-md-block mt-4">
        <button
          role="button"
          class="btn btn-light me-md-1 col-md-2 text-danger"
          routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i>Voltar
        </button>
      </div>

      <div class="mt-5">
        <table class="table table-light table-striped table-hover">
          <thead class="thead-dark text-center text-danger">
            <tr>
              <th>Data de Abertura</th>
              <th>Departamento</th>
              <th>Descrição</th>
              <th>Equipamento</th>
              <th>Última Atualização</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let requisicao of (requisicoes$ | async | requisicoesDepartamento: funcionarioLogado.departamentoId)">
              <td class="text-center">{{requisicao.dataAbertura.toDate() | date: 'dd/MM/yyyy HH:mm'}}</td>
              <td class="text-center">{{requisicao.departamento?.nome}}</td>
              <td class="text-center">{{requisicao.descricao}}</td>
              <td class="text-center">{{requisicao.equipamento ? requisicao.equipamento.nome : "Não Selecionado"}}</td>
              <td class="text-center">{{requisicao.ultimaAtualizacao}}</td>
              <td class="text-center">{{requisicao.status}}</td>
              <td class="text-center d-grid d-md-block">
                <button
                  type="button"
                  (click)="cadastrar(modal, requisicao)"
                  class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto">
                  <i class="pi pi-check-square"></i>
                </button>
                <button
                  type="button"
                  [routerLink]="['/requisicoes', requisicao.id]"
                  class="btn btn-outline-danger">
                  <i class="pi pi-tags"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<ng-template #modal let-modal>
  <div class="modal-header">
    <h3 class="modal-title fw-bolder text-danger">Movimentação de Requisição</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>

  <form [formGroup]="form" (ngSubmit)="modal.close('enviar')">
    <div class="modal-body">
      <div class="form-group mb-3 position-relative">
        <label for="funcionario" class="form-label">Funcionário Solicitante:</label>
        <p class="text-primary fw-semibold">{{funcionarioLogado.nome}}</p>
      </div>

      <div class="form-group mb-3 position-relative">
        <label for="equipamentoId" class="form-label">Equipamento:</label>
        <p class="fw-semibold">{{requisicaoSelecionada.equipamento ? requisicaoSelecionada.equipamento?.nome : "Não informado"}}</p>
      </div>

      <div class="form-group mb-3 position-relative">
        <label for="nome" class="form-label">Descrição da Solicitação:</label>
        <p class="fw-semibold">{{requisicaoSelecionada.descricao}}</p>
      </div>

      <hr>
      <div class="form-group mb-3 position-relative">
        <label for="status" class="form-label">Status:</label>
        <ng-select
          placeholder="Status da requisição"
          [searchable]="false"
          [clearable]="false"
          class="w-50"
          formControlName="status"
          [items]="listaStatus">
        </ng-select>
      </div>

      <div class="form-group mb-3 position-relative border-danger">
        <label for="nome" class="form-label">Descrição da Movimentaçã:</label>
        <textarea formControlName="descricao"
          class="form-control"
          type="text"
          placeholder="Digite a descrição da atualização"></textarea>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      <button type="submit" class="btn btn-danger col-md-3">Cadastrar</button>
    </div>

  </form>
</ng-template>
