<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="text-center text-md-start">
        <h1 class="fw-bold text-primary">Requisições para meu Departamento</h1>
      </div>

      <div class="d-grid gap-2 d-md-block mt-4">
        <button
          role="button"
          class="btn btn-outline-primary col-md-2"
          routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i>Voltar
        </button>
      </div>
    </div>
  </div>
</div>
