<div class="container">
  <div class="row">
    <div class="mt-5 col-12 col-md-10 col-lg-9 mx-auto mt-2 mb-5">
      <div class="btn-group bg-light ">
        <button
          routerLink="/requisicoes/funcionario"
          routerLinkActive="active"
          class="btn btn-outline-danger"
          aria-current="page">
          <i class="pi pi-ticket me-1"></i>Minhas requisições
        </button>
        <button
          routerLink="/requisicoes/departamento"
          routerLinkActive="active"
          class="btn btn-outline-danger"><i class="pi pi-inbox me-1"></i>Requisições para meu Departamento
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
